p 这里是网页1.1! 

form(action="." method="POST")
  label(for="name") 用户名:
  input(
    type="text"
    id="name"
    name="name"
  )

  label(for="name") 密码:
  input(
    type="password"
    id="password"
    name="password"
  )