<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<ul style="color:red">
    {{#each errors}}
    <li>{{this.msg}}</li>
    {{/each}}
</ul>



{{#if validInput}}

    {{#if userInput.name}}
    你好: {{userInput.name}}
    {{/if}}

    {{#if userInput.gender}}
    <br />
    你的性别是: {{userInput.gender}}
    {{/if}}

{{else}}

    <form action="/" method="post">
        <ul>
            <li>
                <label for="name">姓名:</label>
                <input id="name" type="text" name="name" value="{{userInput.name}}">
            </li>

            <li>
                <label for="gender">性别:</label>
                男
                <input id="gender" type="radio" name="gender" value="男">
                女
                <input id="gender" type="radio" name="gender" value="女">
            </li>
        </ul>


        <input type="submit" value="提交">
    </form>

{{/if}}