<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<ul style="color:red">
    {{#each errors}}
    <li>{{this.msg}}</li>
    {{/each}}
</ul>




    <form action="#" method="post" class="needs-validation"  novalidate>
        <ul class="form-group">
            <li>
                <label for="name">请输入网址:</label>
                <textarea row="5" id="name" class="form-control" type="text" name="name" placeholder="请输入网址" required>{{userInput.name}}</textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    请输入网址
                </div>
            </li>
            <li>
                <label for="email">结果:</label>
                <textarea row="5" id="email" class="form-control" type="text" name="email" readonly>{{userInput.email}}</textarea>
            </li>
        </ul>


        <input class="btn btn-primary" type="submit" value="URL编码">
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
